{% extends 'base.html' %}

{% block header_right %}{% endblock %}

{% block content %}

<div class="login-group">
  <div>
    <br />  
    <form role="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Email address</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Email address" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <div class="float-left">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" name="remember_me" value="remember_me"  />
	          Stay logged in
	        </label>
	      </div>
	      <p><a href="{% url 'user_register' %}">Register new account.</a></p>
	      <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
	   </div>
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <div class="float-right">
          <button type="submit" value="Login" class="btn btn-primary pull-right">Log in</button>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}