{% extends 'base.html' %}
{% load staticfiles %}
{% load pump_layout_extras %}

{% block head_data %}
{% endblock %}

{% block title %}
Add | Pump | Group
{% endblock %}

{% block content %}
<h3 class="pump-title"><a href="{% url 'customer_list' %}">Groups</a> <small>&raquo; <span id="heading_subtext">
<a href="{% url 'customer_settings' customer.id %}">{{ customer.organization_name }}</a>
</span> &raquo; <a href="{% url 'customer_pumps' customer.id %}">Pumps</a> &raquo; Add</small></h3>

<div class="details-container">
<p>Add a pump to this group, <a href="{% url 'customer_settings_default' %}{{ customer.id }}/">{{ customer.organization_name }}</a>. Adding a pump will associate the pump with this group and allow all group members to view and control it.</p>
<p>The pump must have successfully connected to the network at least once for you to be able to add it. You cannot add a pump if it already belongs to a different group.</p>
<p>For the Association Key field below, you can enter the special short association key displayed on the pump controller's "Network" screen (visiable when "Cell" is selected).</p>  

{% row_standard 'association_key' edit_type='text' mode='create' %}

</div>
<button type="button" class="btn btn-primary pull-right lone-button create-submit">Add</button>

<script>

// What to do if the user creation succeeded
function successfulCreate(data) {
  // Extract the pump ID for the URL from the data object
  var uniqueId = data.data.unique_id;
  
  // Redirect in such a manner that reposting is not going to be an issue
  var url = "{% url 'pump_details_default'%}" + uniqueId + "/";
  location.replace(url);
}

// Some setup needs to wait until support JS has loaded
function pageSetup() {
  // URL for getting and posting pump data
  AJAX_URL = '{% url 'pumps_customer_api_1_0' customer.id %}';
  $('.details-container').show();
  
  // Hide the elements meant for updates pages
  $('.read-container').hide();
  $('.not-for-create').hide();
  $('.ok-button').hide();
  
  $('.write-container').show();
  
  // Unlink the code meant for update pages instead of create pages
  $('.ajax_submit').attr('onClick', 'return false;');
  $('.ajax_submit').addClass("ajax_field");
  $('.ajax_submit').removeClass("ajax_submit");
  
  $('.toggle-button').attr('onClick', 'toggleClick(this);return false;');
  
  $('.create-submit').attr('onClick', 'submitCreate(this); return false;');

  // Clean up the rightmost column for the text rows
  $('.edit_row_text_right').css('min-width', 'inherit');
  $('.edit_row_text_write').css('padding-right', 0);
  $('.edit_row_dropdown_right').css('min-width', 'inherit');
  $('.edit_row_dropdown_write').css('padding-right', 0);
}

</script>


{% endblock %}
