{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password Reset In Progress{% endblock %}

{% block content %}

<h3 class="pump-title">Password reset in progress</h3>

<p>Thank you. If the email address you entered is associated with an account, we've emailed you instructions for resetting your password. You should be receiving it shortly.</p>
<p>If you don't receive an email from us within the next hour, please be sure to check your spam or junk folder. If nothing is there, it's possible that you used a different email address when 
setting up your account, so you might want to try another email address.</p>

{% endblock %}
